numpy==1.24.3
scipy==1.10.1
accelerate==0.33.0
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
torchviz==0.0.2
tensorflow==2.13.1
tensorboard==2.14
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.14
fastapi==0.112.0
gunicorn==22.0.0
uvicorn==0.30.5
transformers==4.43.3
datasets==2.20.0
loralib==0.1.2
sentencepiece==0.2.0
bitsandbytes==0.42.0
xformers==0.0.27.post2
hf_transfer==0.1.8
einops==0.8.0